# =========================
# Backend (.NET)
# =========================
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
appsettings.Development.json

# =========================
# FrontEnd (Angular/Node)
# =========================
# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Miscellaneous
.angular/cache/
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
testem.log
typings/
__screenshots__/

# =========================
# IDEs and Editors
# =========================
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*

# =========================
# System files
# =========================
.DS_Store
Thumbs.db

# =========================
# Os que me pertubaram durante o conflito de merge
# =========================
bin/
obj/
.vs/