<nav class="navbar glass-panel">
  <div class="nav-container">
    <div class="nav-logo">
      <span class="text-gradient">Notalise</span>
    </div>
    
    <div class="nav-links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">Início</a>
      <!-- <a routerLink="/estande" routerLinkActive="active" class="nav-item">Estandes</a> -->
      <a routerLink="/evento" routerLinkActive="active" class="nav-item">Eventos</a>
      <!-- <a routerLink="/comentarios" routerLinkActive="active" class="nav-item">Comentários</a> -->
    </div>
  </div>
</nav>
