<div class="page">

  <!-- HERO -->
  <div class="hero">
    <img src="assets/inovaweek.jpg" />

    <div class="back-btn">◀</div>

    <div class="title">
     <h1>{{ event.title }}</h1>
    </div>
  </div>

  <!-- INFO -->
  <div class="info">
    <h3>{{ event.date }}</h3>

    <p>
      Sejam bem vindos a MAIOR feira de inovação e tecnologia do Espírito Santo!
      Onde se projetam startups de alcance mundial, onde talentos são apresentados ao mundo
      e onde criamos um mundo novo!
    </p>
  </div>

  <!-- CARD / BANNER -->
  <div class="banner-card"></div>

  <!-- DIVIDER -->
  <div class="divider"></div>

  <!-- COMMENTS -->
  <div class="comments">

    <h2>Comentários</h2>
    <span class="subtitle">A little intro about what's being said.</span>

    <div class="comment">
      <div class="avatar green"></div>
      <div>
        <strong>Carl Castlepillar</strong>
        <span>1h atrás</span>
        <p>Minha feira favorita! Ideias sensacionais!</p>
      </div>
    </div>

    <div class="comment small">
      <div class="avatar green"></div>
      <div>
        <strong>Carl Castlepillar</strong>
        <span>1h atrás</span>
        <p>O Notalise é muito melhor 😎</p>
      </div>
    </div>

    <div class="comment">
      <div class="avatar pink"></div>
      <div>
        <strong>Wanda Washington</strong>
        <span>1h atrás</span>
        <p>Somos todos fãs da Inova!</p>
      </div>
    </div>

  </div>

  <!-- ARROW -->
  <div class="arrow">⌄</div>

  <!-- FOOTER -->
  <footer>
    <div class="left">Notalise</div>

    <div class="columns">
      <div>
        <p>Platform</p>
        <span>About</span>
        <span>Terms</span>
        <span>Developers</span>
      </div>

      <div>
        <p>Features</p>
        <span>Cool feature</span>
        <span>Engagement</span>
      </div>

      <div>
        <p>Learn more</p>
        <span>Blog</span>
        <span>Docs</span>
      </div>

      <div>
        <p>Support</p>
        <span>Contact</span>
        <span>Legal</span>
      </div>
    </div>

    <div class="icons">
      <span>📷</span>
      <span>💼</span>
      <span>✖</span>
    </div>
  </footer>

</div>