.page {
  font-family: Arial;
  background: #e7e7ef;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #c7c6da;
  padding: 20px 40px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 30px;
  height: 10px;
  background: #6d6de3;
  border-radius: 10px;
}

.container {
  width: 800px;
  margin: auto;
  margin-top: 40px;
}

h2 {
  margin-bottom: 10px;
}

.card {
  background: #b8b7dc;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  gap: 40px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

input, textarea {
  margin-bottom: 15px;
  padding: 8px;
  border: none;
  background: #9998d7;
}

textarea {
  height: 120px;
}

.dates {
  display: flex;
  gap: 10px;
}

button {
  align-self: flex-end;
  background: #6d6de3;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

footer {
  margin-top: 80px;
  border-top: 1px solid #ccc;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}