<div class="page">

  <header class="header">
    <h1>Notalise</h1>

    <div class="user">
      Nome Usuário
      <div class="avatar"></div>
    </div>
  </header>


  <div class="container">

    <h2>Novo Evento</h2>

    <div class="card">

      <form [formGroup]="eventForm">

        <div class="left">

          <label>Nome</label>
          <input type="text" formControlName="name" placeholder="Qual o nome do evento?">

          <label>Endereço</label>
          <input type="text" formControlName="address" placeholder="Onde ocorrerá esse evento?">

          <label>Data</label>

          <div class="dates">
            <input type="date" formControlName="startDate">
            <input type="date" formControlName="endDate">
          </div>

        </div>


        <div class="right">

          <label>Descrição</label>
          <textarea formControlName="description" placeholder="Diga um pouco sobre o evento"></textarea>

        </div>

      </form>

      <button (click)="createEvent()">Criar</button>

    </div>

  </div>


  <footer>
    <span>Notalise</span>

    <div class="social">
      <span>Instagram</span>
      <span>LinkedIn</span>
      <span>X</span>
    </div>
  </footer>

</div>